body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
}

button {
  background-color: var(--accent-bg);
}

button:hover {
  background-color: var(--accent);
}
