.header {
    background: grey;
    border-bottom: 1px solid #ddd;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    font-size: 20px;
    background: none;
    border: none;
}

.nav {
    display: none;
    width: 100%;
}

.nav.active {
    display: block;
}

.nav ul {
    display: flex;
    flex-direction: column;
    background: white;
}

.nav li {
    list-style: none;
}
ul {
    padding: 0;
    margin: 0;
}

/* DESKTOP */

@media (min-width: 1024px) {

    .menu-btn {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .nav li {
        padding: 10px;
    }

}